.center-middle-screen {
    margin: -150px 0 0 -150px;
    left: 50%;
    position: absolute;
    top: 50%;
    height: 300px;
    width: 300px;
}

.button-centered {
    margin: 10px 0 0 0;
    width: 100%;
}

ul li {
    list-style: none;
}

.horizontal-menu ul {
    margin: 0 10px;
}

.horizontal-menu ul li {
    float: left;
}

.filters-area {
    margin: 10px 25px;
}

.filter-button {
    margin: 25px 0;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}